{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "babel-plugin-rewire",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
